// Goggle fonts import
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300;400;700&display=swap');

// Styles reset
* {
  text-decoration: none;
  color: inherit;

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 0px
  }
}

body,
input,
button,
select,
textarea {
  font: 400 1rem 'Gothic A1', sans-serif;
  color: #000;
}

html,
body,
#root {
  height: 100%;

  scroll-behavior: smooth;
}