.wrapper {
  width: 80%;

  margin: auto;

  &--no-scroll {
    max-height: 100vh;

    overflow: hidden;
  }
}

.header,
section {
  margin: 128px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 24px 0;

  width: 100%;

  h1 {
    span {
      font-size: 2.2rem;
      color: $aquaBlue;
    }
  }

  &__options {
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;

    &__option {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;

        width: 0;
        height: 2px;

        background: $blue;
        transition: $trans;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }

    &__btn {
      @include btn-primary ($blue, 120px);
    }
  }
}

.appointment {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  background: rgba(0, 0, 0, 0.2);

  &--active {
    display: flex;
  }

  &__form {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    height: 80vh;
    width: 60%;

    background: $white;
    border-radius: 20px;

    &__input {
      position: relative;

      height: 4rem;
      width: 32rem;

      input {
        font-size: 1.2rem;

        height: 100%;
        width: 100%;

        padding-top: 32px;

        outline: none;
        border: none;
        border-bottom: 1px solid black;
        transition: $trans;

        &:focus+label,
        &:valid+label {
          font-size: 1rem;
          color: $blue;

          top: 0;

          &:after {
            top: 100%;

            width: 100%;
          }
        }

        &:focus,
        &:valid {
          border: none;
        }
      }

      label {
        font-size: 1.2rem;

        position: absolute;
        top: 50%;
        left: 0;

        height: 100%;
        width: 100%;

        transition: $trans;
        pointer-events: none;

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;

          height: 2px;
          width: 0;

          background: $blue;
          transition: $trans;
        }
      }
    }

    &__btn {
      @include btn-light (200px);
    }

    &__close {
      font-size: 1.4rem;

      position: absolute;
      top: 32px;
      right: 32px;

      transition: $trans;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 90vh;

  &__info,
  &__img {
    flex: 0 0 50%;
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;

    padding: 10% 0;

    &__green {
      text-transform: uppercase;
      font-weight: bolder;
      color: $aquaBlue;

      margin-bottom: 16px;
    }

    &__title {
      text-transform: capitalize;
      letter-spacing: 2px;

      margin-bottom: 56px;
    }

    &__services {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 32px;

      width: 80%;

      margin-bottom: 56px;

      &__service {
        font-size: 1rem;

        display: grid;
        grid-template-columns: 30% 70%;

        h4,
        span {
          align-self: center;
          grid-column: 2;
        }

        span {
          font-size: .9rem;
          color: $smoke;
        }

        img {
          grid-row: 1 / 3;

          width: 90%;
          height: 90%;

          margin-right: 16px;
        }
      }
    }

    &__btn {
      @include btn-primary ($blue, 200px);
    }
  }

  &__img {
    img {
      height: 100%;
      width: 100%;

      border-radius: 0 20% 0 20%;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: auto;

  &__title {
    text-align: center;

    margin-bottom: 64px;

    span {
      color: $blue;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    &__card {

      img,
      h3 {
        margin-bottom: 16px;
      }

      p {
        color: $smoke;
      }

      img {
        height: 75px;
        width: 75px;

        padding: 10px;

        border-radius: 20px;
        background: $light-blue;
      }
    }
  }
}

.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: auto;
  width: 100%;

  margin: auto;
  padding: 64px 32px;

  background: $bg;
  border-radius: 20px;

  &__card {
    text-align: center;

    position: relative;

    h1 {
      font-size: 4rem;
    }

    &:nth-of-type(1),
    &:nth-of-type(2) {
      &:after {
        content: "";
        position: absolute;
        top: -30%;
        left: 160%;

        height: 160%;
        width: 1px;

        background: $smoke;
      }
    }
  }
}

.installations {
  height: 90vh;
  width: 100%;

  &__title {
    text-align: center;

    height: 10%;

    h1 {
      text-transform: capitalize;
    }

    span {
      color: $blue;
    }
  }

  &__slider {
    position: relative;

    display: flex;
    scroll-snap-type: x mandatory;

    height: 90%;

    overflow-x: scroll;

    &__slide {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      scroll-snap-align: center;

      height: 80%;
      width: 100%;

      img {
        height: 100%;
        width: auto;
      }
    }

    &__images {
      position: absolute;
      bottom: 0%;
      left: 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 20%;
      width: 100%;

      background: $white;

      a {
        height: 100%;
        width: 95%;

        img {
          height: 100%;
          width: 90%;
        }
      }
    }
  }
}